# Ignore node_modules for both client and server
client-coffee/node_modules/
server-coffee/node_modules/

# Build and dist folders
client-coffee/build/
server-coffee/target/
server-coffee/build/

# System files
.DS_Store
Thumbs.db

# Environment files
*.env

# Logs
*.log
