@import url('https://fonts.googleapis.com/css2?family=Rancho&display=swap');


html, .rancho-regular {
  font-family: "Rancho", cursive;
  font-weight: 400;
  font-style: normal;
}


@import "tailwindcss";

@plugin "daisyui" {
  themes: light --default,
    dark --prefersdark,
    cupcake,
    cyberpunk,
    aqua,
    coffee,
    lemonade,
    abyss;
}